body{
    background-color: black;
    color: #fff;
    font-family: sans-serif;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.destaque{
    color: #22D4FD;
}

.botoes{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
    



.botoes a{
    background-color: #22D4FD;
    color: #000;
    text-decoration: none;
    padding: 15px 40px;
    font-weight: bold;
    border-radius: 12px;
}